<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <div th:replace="base :: headerfg"></div>
</head>
<body>
<div th:replace="base :: navlinksfg"></div>
<h1>Courses</h1>
<br/><br/>
<div class="card-deck">
    <div class="card" th:each="course : ${courses}">
        <div class="card-body">
            <h5 class="card-title">[[${course.title}]]</h5>
            <p class="card-text">[[${course.description}]]</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="#">Add to Cart</a>
            <div th:each="crn : ${course.crns}">
                <a class="btn btn-primary" th:href="@{/addCart/{id}(id=${crn.id})}">Cart...</a>
            </div>
        </div>
    </div>

</div>


<div th:replace="base :: footerfg"></div>
</body>
</html>